<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/header :: navbar"></div>


	<div class="container-fluid box">
		<div class="row">
			<h1 class="text-center">My Account</h1>
			<div class="col-sm-6 col-sm-offset-3">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#tab-1">Create
							New Account</a></li>
					<li><a data-toggle="tab" href="#tab-2">Login</a></li>
					<li><a data-toggle="tab" href="#tab-3">Forget Password</a></li>
				</ul>

				<div class="tab-content">
					<div id="tab-1" class="tab-pane fade in active">
						<div class="panel panel-default">
							<div class="panel-body">
								<form style="margin-top:10px">
									<div class="form-group">
										<label for="email">Email address:</label> 
										<input type="email"	class="form-control"/>
									</div>
									<div class="form-group">
										<label for="pwd">Password:</label>
										<input type="password" class="form-control"/>
									</div>
									<button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div>
						</div>
					</div>


					<div id="tab-2" class="tab-pane fade">
						<div class="panel panel-default">
							<div class="panel-body">
								<form style="margin-top:10px">
									<div class="form-group">
										<label for="email">Email address:</label> 
										<input type="email"	class="form-control"/>
									</div>
									<div class="form-group">
										<label for="pwd">Password:</label>
										<input type="password" class="form-control"/>
									</div>
									<button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div>
						</div>
					</div>
					<div id="tab-3" class="tab-pane fade">
						<div class="panel panel-default">
							<div class="panel-body">
								<form style="margin-top:10px">
									<div class="form-group">
										<label for="email">Email address:</label> 
										<input type="email"	class="form-control"/>
									</div>
									<div class="form-group">
										<label for="pwd">Password:</label>
										<input type="password" class="form-control"/>
									</div>
									<button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>
